.DS_Store

.idea/
.vscode/
.vagrant/

bin/
/build/

fleet-server
fleet_server
fleet-server.dev.yml
*.log
*.log.*

dev-tools/integration/.env.bck
dev-tools/cloud/terraform/.terraform
dev-tools/cloud/terraform/terraform.tfstate*
dev-tools/cloud/terraform/*.tfvars*

# editor swap files
*.swp
*.swo
*.swn

.service_token
