services:
  kibana:
    image: "docker.elastic.co/kibana/kibana:${ELASTICSEARCH_VERSION}-amd64"
    container_name: kibana
    healthcheck:
      test: ["CMD", "curl", "-f", "${ELASTICSEARCH_USERNAME}:${ELASTICSEARCH_PASSWORD}@localhost:5601/api/status"]
      start_period: 20s
      interval: 10s
      timeout: 10s
      retries: 3
    environment:
      - KIBANA_TOKEN=${KIBANA_TOKEN}
    volumes:
      - ./kibana.yml:/usr/share/kibana/config/kibana.yml
    ports:
      - 127.0.0.1:5601:5601
    networks:
      - integration
  apm-server:
    image:  "docker.elastic.co/apm/apm-server:${ELASTICSEARCH_VERSION}-amd64"
    container_name: apm-server
    # curl is not in the apm-server image
    #healthcheck:
    #  test: ["CMD", "curl", "-f", "localhost:8200"]
    #  interval: 10s
    #  timeout: 10s
    #  retries: 3
    environment:
      - API_KEY=${APM_KEY}
    volumes:
      - ./apm-server.yml:/usr/share/apm-server/apm-server.yml
    ports:
      - 127.0.0.1:8200:8200
    networks:
      - integration
# Attach to the integration test network
networks:
  integration:
    name: integration_default
    external: true
