---
name: bump-golang

on:
  workflow_dispatch:
  schedule:
    - cron: '0 20 * * 1-6'

permissions:
  contents: read

env:
  JOB_URL: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"

jobs:
  bump:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:

      - uses: actions/checkout@v6

      - name: Install Updatecli in the runner
        uses: updatecli/updatecli-action@5ca36367fadc6ad94d590984fd9c696e783ec635 # v2.96.0

      - name: Run Updatecli in Apply mode
        run: updatecli apply --config .ci/bump-golang.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_USER: "github-actions[bot]"
          GIT_EMAIL: "41898282+github-actions[bot]@users.noreply.github.com"

      - if: ${{ failure()  }}
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            {
              "channel": "#fleet-notifications",
              "text": "${{ env.MESSAGE }}",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "${{ env.MESSAGE }}"
                  }
                }
              ]
            }
        env:
          MESSAGE: ":traffic_cone: updatecli failed for `${{ github.repository }}@${{ github.ref_name }}`, `@fleet_team` please look what's going on <${{ env.JOB_URL }}|here>"
