# Follow-on actions relating to dependabot PRs. In elastic/fleet-server, any changes to
# dependencies contained in go.mod requires the change to be reflected in the
# NOTICE.txt file. When dependabot creates a branch for a go_modules change this
# will update the NOTICE.txt file for that change.
name: post-dependabot

on:
  push:
    branches:
      - 'dependabot/go_modules/**'

jobs:
  update-notice:
    permissions:
      # Allow job to write to the branch.
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: .go-version

      - uses: magefile/mage-action@6f50bbb8ea47d56e62dee92392788acbc8192d0b # v3.1.0
        with:
          install-only: true

      - name: update NOTICE.txt and NOTICE-FIPS.txt
        run: mage check:notice

      - name: run go mod tidy in testing/
        run: cd testing; go mod tidy

      - name: check for modified files
        id: check-files
        run: echo "modified=$(if git diff --quiet HEAD -- NOTICE.txt NOTICE-fips.txt testing/go.mod testing/go.sum; then echo "false"; else echo "true"; fi)" >> $GITHUB_OUTPUT

      - name: commit modified files
        if: steps.check-files.outputs.modified == 'true'
        run: |
          git config --global user.name 'dependabot[bot]'
          git config --global user.email 'dependabot[bot]@users.noreply.github.com'
          git add NOTICE.txt NOTICE-fips.txt testing/go.mod testing/go.sum
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git commit -m "Post dependabot file modifications"
          git push
